<link rel="stylesheet" href="/css/admin.css">
<nav class="navigation-panel">
    <button class="active" type="button" name="gallery">Галерея</button>
    <button type="button" name="video">Видео</button>
    <button type="button" name="text">Тексты</button>
</nav>
<div class="main-content">
    <div id="gallery" class="gallery">
        <div id="dropArea" class="drag-n-drop">
            <form class="dnd-form">
                <span>Перетащите фотографии или нажмите здесь</span>
                <input type="file" id="fileElem" multiple accept="image/*">
                <label class="dnd-button button" for="fileElem">Выбрать изображения</label>
            </form>
            <progress class="progress-bar" id="progress-bar" max=100 value=0></progress>
        </div>
        {{#each imgArr}}
            <div class="imageBlock">
                <div class="cross-hover">
                    <div class="cross">

                    </div>
                    <span hidden>{{this.imgPath}}</span>
                </div>
                <img src="{{this.imgPath}}" alt="">
            </div>
        {{/each}}
    </div>
    <div id="video" preload="none" class="video">
        <div class="videoTools">
            <input id="videoInput" hidden type="file" accept="video/*" placeholder="+ Добавить видео">
            <button id="videoButton" class="button" type="button" name="addVideo">
                + Добавить видео
            </button>
        </div>
        <div class="video-preview">
            <video src="/video/video.mp4" controls>

            </video>
        </div>
    </div>
    <div id="text" class="text">
        <div class="text__content">
            <div class="contacts">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" value="{{textArr.phone}}">
                <label for="adress">Адрес</label>
                <input type="text" name="adress" value="{{textArr.adress}}">
                <label for="working-hours">Рабочие часы</label>
                <input type="text" name="working-hours-row-first" value="{{textArr.workHoursFirst}}">
                <input type="text" name="working-hours-row-second" value="{{textArr.workHoursSecond}}">
            </div>
            <div class="links">
                <label for="insta">instagram</label>
                <input type="text" name="insta" value="{{textArr.insta}}">
                <label for="vk">vk</label>
                <input type="text" name="vk" value="{{textArr.vk}}">
                <label for="twitch">twitch</label>
                <input type="text" name="twitch" value="{{textArr.twitch}}">
                <label for="yt">youtube</label>
                <input type="text" name="yt" value="{{textArr.yt}}">
            </div>
        </div>
        <button id="saveText" class="button" type="button" name="button">Сохранить</button>
    </div>
</div>

<template id="imageBlockTemplate">
    <div class="imageBlock">
        <div class="cross-hover">
            <div class="cross">

            </div>
            <span hidden></span>
        </div>
        <img src="" alt="">
    </div>
</template>

<script src="js/admin.js"></script>
<script src="js/gallery.js"></script>
<script src="js/video.js"></script>
<script src="js/text.js"></script>
